.notice {
  background-color: #77ff65;
  color: #248000;
  margin-bottom: 2.5rem;
  padding: 1rem 0;
}

.warning {
  background-color: #ff4848;
  color: #610000;
  margin-bottom: 2.5rem;
  padding: 1rem 0;
}
